<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试页</title>
</head>
<body>
	<header style="text-align: center"><img src="/img/1.jpg"></header>
	<div align="center">{{{body}}}</div>
</body>
</html>